#currency-grid {
  margin-bottom: 50px;
}

.currency {
  font-weight: bold;
}

.small-12 {
  border: solid;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #90BEDE;
}

.large-3 {
  border: solid;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #90BEDE;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid;
  padding: 20px;
  background-color: #68EDC6;
}

p {
  font-size: 24px;
}

h1 {
  text-align: center;
}

form {
  margin-left: 405px;
  margin-right: 300px;
  width: 300px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFFDFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
